html{
	margin: 0px;
	padding: 0px;
}

/* Verde de evernote: #2dbe60 */
/* Gris de fuente login evernote: #e2eade */
/* Verdemas claro evernote: #95d162*/

body{
	background: #f3f3f3;
}

#container-login{
	margin-top: 100px;
}

.title-login{
	color: #2dbe60;
	line-height: 36px;
	margin-bottom: 6px;
	font-family: caecilia,Times,serif;
	font-size: 32px;
}

.well{
	background-color: #fff;
	margin-top: 30px;
}

.label-form{
	color: #747474;
	display: inline-block;
	font-family: gotham,helvetica,arial,sans-serif;
	font-weight: 400;
}

.msg-alert{
	margin-top: 20px;
	padding: 5px;
}

.btn-login{
	width: 100px;
}

.centrar-img{
	margin: 0 auto;
}